<h1>Password reset for Kokeilun Paikka account</h1>

<p style="font-size:15px;">In order to create a new password, please click the below link:</p>
<p><a href="https://www.kokeilunpaikka.fi/en/password-change/{{reset_token}}">Reset my password</a></p>
<p>Or copy paste this url into your browser:</p>
<p>https://www.kokeilunpaikka.fi/en/password-change/{{reset_token}}</p>
<p>Note: This link will only work for a limited time.</p>